<section *ngIf="!proposal">
  <p>Loading...</p>
</section>
<div class="d-flex flex-row" *ngIf="proposal">
  <div class="w-50 login-img" [ngStyle]="{backgroundImage: 'url(assets/images/login.png)'}"></div>
  <section class="d-flex flex-column justify-content-around w-50 pl-100 pr-100">
    <div class="title text-blue mt-100">
      Olá <span class="text-orange capitalize">{{proposal.pacienteNome.toLowerCase() || 'Paciente Desconhecido'}}</span>,<br>
      Insira aqui o seu NIF<br>
      para aceder à sua proposta.
    </div>

    <div class="p-relative d-flex text text-blue nif-input">
      <input
        #nifInput
        class="text-blue"
        placeholder="NIF"
        (keyup)="nif = nifInput.value"
        (keydown.enter)="isNifValid() && handleNifSubmit()"
      >
      <span
        class="p-absolute d-flex justify-content-center align-items-center bg-orange border-radius-50"
        [class.disabled]="!isNifValid()"
        (click)="isNifValid() && handleNifSubmit()"
      >
        <mat-icon class="text-white flex-grow-0 flex-shrink-0">keyboard_arrow_right</mat-icon>
      </span>
    </div>

    <span class="text text-blue mb-100">
      Este é o primeiro passo para uma<br>
      história com um final feliz.
    </span>
  </section>
</div>

