.login-img {
  background-size: cover;
  background-position: center;
}

.nif-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 350px;
}

.nif-input input {
  width: 100%;
  border: 1px solid #de501f;
  padding: 30px 15px;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}

.nif-input span {
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

.nif-input span.disabled {
  opacity: .5;
  cursor: default;
}

.capitalize {
  text-transform: capitalize;
}
