mat-drawer {
    border: 0;
    box-shadow: -3px 13px 18px #00000029;
}

mat-drawer button {
    outline: none;
    box-shadow: none;
    border: 1px solid #de501f;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    max-width: 100%;
}

mat-drawer .menuLink {
    text-align: center;
    padding-top: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.26px;
    text-transform: uppercase
}

mat-drawer .menuLink:hover {
    color: #de501f;
}


.antes-depois-images-container {
    padding-top: 50%;
    margin: 7% 0;
}

.antes-depois-images-container > div {
    top: 0;
    left: 0;
}

.antes-depois-images-container .bg-square {
    background: #5F909E 0 0 no-repeat padding-box;
    box-shadow: -3px 13px 18px #00000029;
    border-radius: 111px;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(30deg);
    top: 50%;
    left: 50%;
    width: 50%;
    padding-bottom: 50%;
    position: absolute;
    z-index: -1;
}

.antes-depois-images-container .img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15%;
    width: calc(50% - 20px);
    height: 100%;
    margin: 0 10px;
}

.opacity-background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #08586E;
    mix-blend-mode: multiply;
    opacity: 0.67;
    position: absolute;
}

.pagamento {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    opacity: 1;
}

.pronto-pagamento {
    margin-left: 27px;
    text-decoration: line-through;
    font: normal normal 300 24px/24px Montserrat;
    letter-spacing: 0px;
}

.presta-pagamento {
    margin-left: 27px;
    text-align: left;
    font: normal normal 300 24px/24px Montserrat;
    letter-spacing: 0px;
}

.table-elem {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

}

.table-elem2 {
    width: 100%;
    margin-bottom: 100px;
}

.table-elem2 tbody tr td {

    color: #08586e;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-elem2 thead th {
    color: #de501f;
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;

}


.table-elem li {
    display: flex;
    flex: 0 0 auto;
    border-bottom: 1px solid #de501f;
    justify-content: space-between;
}

.table-elem li span {
    display: flex;
    flex: 0 0 auto;
    color: #08586e;
    font-size: 18px;

}

.bold-table {
    font-weight: bold;
}

.table-elem li:first-child span {
    color: #de501f;
    font-size: 14px;
}

.circulo-azul {
    z-index: 0;
    top: 0;
    left: 0;
    transform: translate(-50%, 0%);
    background: #08586E;
    width: 200%;
    height: 200%;
    position: absolute;
}

.comercial-maintext {
    width: 500px;
    text-align: left;
    font: normal normal bold 32px/36px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    height: 75px;
}

.com-pic {
    height: 130px;
    width: 130px;
}

.com-name {
    margin-top: 10px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.copyright {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #FFFFFF90;
    border-top: 1px solid #de501f;
    bottom: 0;
    right: 100px
}

.copyright2 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #FFFFFF90;
    bottom: 0;
    right: 100px
}

.clinica-cards {
    margin: 0 -8px;
}

.clinica-cards > div {
    width: calc(100% / 3);
    padding: 0 8px;
}

.clinica-cards > div > div {
    box-shadow: -3px 13px 18px #00000029;
    border-radius: 32px;
    height: 350px;
    width: 100%;
}

.proposta-cards {
    margin: auto;
}

.proposta-cards > div {
    padding: 0 8px;
}

.proposta-cards > div > div {
    box-shadow: -3px 13px 18px #00000029;
    border-radius: 32px;
    width: 100%;
}

.consulta-row {
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.consulta-row > .line {
    position: absolute;
    left: -107px;
    top: 0;
    width: calc(100% + 214px);
    height: 5px;
    background-color: #08586E;
    z-index: 1;
}

.consulta-row:first-child > .line {
    left: 0;
    top: 0;
    width: calc(100% + 107px);
}

.consulta-row:last-child > .line {
    left: -107px;
    top: 0;
    width: calc(100% + 107px);
}

.consulta-column .line {
    position: absolute;
    display: none;
    z-index: 2;
    top: -1px;
    left: 0;
    height: 7px;
    width: 100%;
}

.consulta-row:last-child .consulta-column:last-child .line {
    display: block;
}

.orange-circle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #de501f;
}

.casos-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -0.96px;
    color: #08586E;
}

.casos-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
}

.casos-videos > .caso-video {
    position: relative;
    width: 75%;
    padding-bottom: 50%;
    margin-bottom: 30%;
}

.casos-videos > .caso-video:last-child {
    margin-bottom: 0;
}

.casos-videos > .caso-video > .caso-video-back-square {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    padding-bottom: 65%;
    transform: translate(-50%, -50%) rotateZ(15deg);
    background-color: #5F909E;
    border-radius: 15%;
    box-shadow: -3px 13px 18px #00000029;
}

.casos-videos > .caso-video:last-child > .caso-video-back-square {
    transform: translate(-50%, -50%) rotateZ(-15deg);
    background-color: #DE501F66;
}

.casos-videos > .caso-video > .caso-video-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    box-shadow: -3px 13px 18px #00000029;
}

.casos-videos > .caso-video > .caso-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    box-shadow: -3px 13px 18px #00000029;
}

.casos-videos > .caso-video > .caso-video-thumb > .caso-video-thumb-content {
    display: none;
    flex-direction: column;
}

.casos-videos > .caso-video > .caso-video-thumb:hover > .caso-video-thumb-content {
    display: flex;
}

.casos-videos > .caso-video > .caso-video-thumb > .caso-video-thumb-content > p {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.stats-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 75px;
    margin-bottom: 30px;
}

.stat {
    font-size: 48px;
    line-height: 33px;
    font-weight: bold;
    letter-spacing: -0.96px;
    margin-bottom: 15px;
}

.capitalize {
    text-transform: capitalize;
}

.text-align-right {
    text-align: right;
}

.break {
    line-height: 1.5em;
}

.italico {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}

.text-termos {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: -0.32px;
    color: #636464;
}
