<mat-drawer-container class="bg-grey">

    <!-----------DRAWER-------------->
    <mat-drawer mode="side" class="w-20" opened>
        <div
                class="p-fixed d-flex align-items-center flex-column p-25"
                style="height: calc(100vh - 50px);width: calc(20% - 50px);"
        >
            <img src="assets/images/angelsmile.png" class="d-flex w-60 mt-25 mb-50">

            <span
                    class="d-flex bg-img border-radius-50 w-40"
                    [ngStyle]="{
          backgroundImage: 'url(' + depoisPerfil + ')',
          paddingBottom: '40%',
          marginBottom: '10px',
          boxShadow: '-3px 13px 18px #00000029'
        }"
                    *ngIf="depoisPerfil"
            ></span>
            <span class="text text-blue text-bold mb-50 text-center capitalize">{{nome.toLowerCase()}}</span>

            <span class="text-blue menuLink" (click)="navigateFragment('dispor')">AO SEU DISPOR</span>
            <span class="text-blue menuLink" (click)="navigateFragment('sorriso')">O SEU SORRISO</span>
            <span class="text-blue menuLink" (click)="navigateFragment('testemunhos')">TESTEMUNHOS</span>
            <span class="text-blue menuLink" (click)="navigateFragment('proposta')">PROPOSTA</span>

            <button class="d-flex text text-orange text-uppercase bg-white-main mt-150 mb-25">
                Entrar em contacto
            </button>
            <button class="d-flex text text-orange text-uppercase bg-white-main" (click)="abrirProposta()">
                <mat-icon>print</mat-icon>
            </button>
        </div>
    </mat-drawer>

    <!-----------MAIN-------------->
    <mat-drawer-content id="content" class="w-80">
        <div class="p-relative d-flex flex-column bg-grey" *ngIf="proposal && medicos">
            <!----- Intro ----------->
            <section class="d-flex flex-column justify-content-center" id="intro">
                <div class="text text-orange mb-25">PROPOSTA</div>
                <span class="title text-blue mb-25">
          Olá <span class="text-orange capitalize">{{this.nome.toLowerCase()}}</span>,<br/>
          Bem-vindo(a) à<br/>
          Angelsmile
        </span>
                <span class="text text-blue mb-25">
          Este é o primeio passo para uma <br>
          historia com o final feliz.
        </span>
            </section>

            <!----- Antes e depois ---------->
            <section class="d-flex flex-column justify-content-center" id="antes">
                <span class="text text-blue mb-25">ANTES E DEPOIS</span>
                <span class="title text-blue">
          Esta pode ser a sua<br/>
          história!
        </span>
                <div class="p-relative antes-depois-images-container">
                    <div class="p-absolute w-100 h-100">
                        <div class="p-relative w-100 h-100 d-flex">
                            <div class="bg-square"></div>
                            <div [ngStyle]="{backgroundImage: 'url(' + antes + ')'}" class="img"></div>
                            <div [ngStyle]="{backgroundImage: 'url(' + depois + ')'}" class="img"></div>
                        </div>
                    </div>

                </div>
            </section>

            <!----- AO SEU DISPOR 1 -------->
            <section class="d-flex flex-column justify-content-center" id="dispor">
        <span class="text text-blue text-uppercase mb-25">
          AO SEU DISPOR, EM TODOS OS MOMENTOS
        </span>
                <span class="title text-blue mb-25">
          Mudamos vidas<br>
          transformando sorrisos.
        </span>
                <span class="text text-blue mb-50">
          A AngelSmile é um grupo de clínicas dentárias espalhadas pelo país.<br/>
          Com mais de uma década de experiência, presta serviços em todas<br/>
          as especialidades da Medicina Dentária.<br/>
          Tudo começou com uma clínica no Norte, mas rapidamente chegou<br/>
          a outros pontos do país, cobrindo as regiões do Minho, Douro e Tejo.<br/>
        </span>
                <div class="d-flex" style="margin-left: -50px; margin-right: -50px">
                    <div class="d-flex flex-column mr-50 ml-50">
                        <img src="assets/images/consultas.png" class="stats-image">
                        <span class="text text-center text-orange stat">15000 +</span>
                        <span class="text text-blue text-uppercase text-center">
              Consultas<br/>
              por <strong>ano</strong>
            </span>
                    </div>
                    <div class="d-flex flex-column mr-50 ml-50">
                        <img src="assets/images/medicos.png" class="stats-image">
                        <span class="text text-center text-orange stat">25 +</span>
                        <span class="text text-blue text-uppercase text-center">
              Medicos<br/>
              <strong>Especialistas</strong>
            </span>
                    </div>
                    <div class="d-flex flex-column mr-50 ml-50">
                        <img src="assets/images/cirurgias.png" class="stats-image">
                        <span class="text text-center text-orange stat">50 +</span>
                        <span class="text text-blue text-uppercase text-center">
              Cirurgias<br/>
              por <strong>mês</strong>
            </span>
                    </div>
                </div>
            </section>

            <!------AO SEU DISPOR 2--------->
            <section class="d-flex flex-column" id="clinica">
                <div class="p-absolute w-100" style="top: 0px; left: 0px; z-index: 0">
                    <div class="p-relative d-flex w-100">
                        <div class="opacity-background"></div>
                        <img style="height: 75vh; z-index: -1" class="w-100 p-relative" [src]="clinicaImagem">
                    </div>
                </div>
                <div class="d-flex flex-column" style="z-index: 1; margin-top: 60px">
                    <span class="text text-white text-uppercase mb-25">AO SEU DISPOR</span>
                    <span class="title text-white mb-25">
            Esta vai ser a sua Clínica:<br/>
                        {{this.clinica}}
          </span>
                    <span class="text text-white w-75 mb-70">
            {{clinicaTexto}}
          </span>
                </div>
                <div class="d-flex clinica-cards" style="z-index: 1">
                    <div class="d-flex">
                        <div class="d-flex p-25 flex-column bg-white">
                            <div class="d-flex h-60 justify-content-center align-items-center pt-25">
                                <img class="h-50" [src]="clinicaCardImage1">
                            </div>
                            <div class="d-flex h-40 justify-content-center align-items-center">
                                <span class="text-big text-bold text-blue text-center">{{clinicaCardText1}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex p-25 flex-column bg-white">
                            <div class="d-flex h-60 justify-content-center align-items-center pt-25">
                                <img class="h-50" [src]="clinicaCardImage2">
                            </div>
                            <div class="d-flex h-40 justify-content-center align-items-center">
                                <span class="text-big text-bold text-blue text-center">{{clinicaCardText2}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex p-25 flex-column bg-white">
                            <div class="d-flex h-60 justify-content-center align-items-center pt-25">
                                <img class="h-50" [src]="clinicaCardImage3">
                            </div>
                            <div class="d-flex h-40 justify-content-center align-items-center">
                                <span class="text-big text-bold text-blue text-center">{{clinicaCardText3}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!----- AO SEU DISPOR 3 -------->
            <section class="d-flex flex-column justify-content-center" id="dispor3">
                <div class="text text-blue text-uppercase mb-25">AO SEU DISPOR</div>
                <div class="title text-blue mb-25">
                    A <span class="text-orange">sua</span> equipa Médica
                </div>
                <div class="text text-blue w-75 mb-25">
                    Contamos com um corpo clínico especializado e multidisciplinar,
                    que cobre todas das áreas da Medicina Dentária. São mais de duas
                    dezenas de profissionais que estão inteiramente à sua disposição,
                    sempre com um objetivo bem definido: tornar o seu caso numa
                    história feliz.
                </div>
                <div class="d-flex">
                    <div class="d-flex w-25 mt-25" *ngFor="let medico of medicos">
                        <div class="d-flex w-70 flex-column">
              <span
                      class="bg-img border-radius-50 mb-25"
                      [ngStyle]="{ backgroundImage: 'url(' + medico.fotografia + ')', paddingBottom: '100%', boxShadow: '-3px 13px 18px #00000029'}"
              ></span>
                            <span class="text text-blue text-center capitalize">{{medico.nome}}</span>
                            <span class="text text-blue text-center capitalize">{{medico.especialidade}}</span>
                        </div>
                    </div>
                </div>

            </section>

            <!----- NOVO SORRISO -------->
            <section class="d-flex flex-column justify-content-center" *ngIf="consultas.length > 0" id="sorriso">
                <div class="title text-blue mb-50">
                    Um novo sorriso em <span class="text-orange">{{this.cadeira * 30}} dias</span>
                </div>
                <div class="d-flex flex-column">
                    <div
                            class="consulta-row"
                            [ngStyle]="{width: (group.length * 33.33) + '%'}"
                            *ngFor="let group of consultasGroups"
                    >
                        <span class="line"></span>
                        <div
                                class="p-relative d-flex flex-column pt-50 pb-50 pr-25 consulta-column"
                                style="width: 33.33%"
                                [ngStyle]="{width: (100 / group.length) + '%'}"
                                *ngFor="let consulta of group"
                        >
                            <span class="line bg-grey"></span>
                            <span class="orange-circle"></span>
                            <p class="sub-title text-blue" style="font-size: 26px;">{{consulta.name}}</p>
                            <div class="d-flex flex-column" *ngFor="let card of consulta.idCards">
                                <span class="text text-blue">{{card.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!----- TESTEMUNHOS ----->
            <section class="d-flex flex-column justify-content-center" id="testemunhos">
                <img
                        style="width: calc(100% + 200px); height: auto; margin-left: -100px;"
                        class="w-100 mt-200" src="assets/images/testemunhos.png"
                >
                <div class="p-absolute title text-blue mb-50" style="z-index: 1; top: 15%;">
                    Testemunhos
                </div>
                <!----- TESTEMUNHOS (slide show) ----->
                <owl-carousel-o style="max-height: 10%; margin-bottom: 200px" class="mt-150" [options]="customOptions">
                    <ng-container *ngFor="let slide of slidesStore">
                        <ng-template carouselSlide>
                            <div class="d-flex flex-column align-items-center">
                  <span
                          class="w-10 bg-img border-radius-50"
                          [ngStyle]="{backgroundImage: 'url(' + slide.src  + ')', paddingBottom: '10%'}"
                  ></span>
                                <span class="sub-title text-blue text-center"
                                      style="font-size: 20px">{{slide.title}}</span>
                                <span class="text text-blue text-center">{{slide.alt}}</span>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </section>


            <!----- CASOS ----->
            <section class="d-flex flex-column justify-content-center" id="casos">
                <div class="casos-title mt-25 mb-25">Alguns casos como<br>o seu.</div>
                <div class="casos-videos mb-50">
                    <div class="caso-video" (click)="showCasoVideo(caso.youtubeVideoId)"
                         *ngFor="let caso of casosVideos">
                        <div class="caso-video-back-square"></div>
                        <div class="caso-video-thumb" [ngStyle]="{backgroundImage: 'url(' + caso.placeholder + ')'}">
                            <div class="caso-video-thumb-content">
                                <img src="assets/images/play_button.png" style="width: 70px; height: 70px">
                                <p>Ver Vídeo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--- FUTURO ----->
            <section class="d-flex flex-column justify-content-center" id="futuro">
            <span class="title text-blue">
          Olhe para o futuro<br/>
          com um novo sorriso!
        </span>
                <div class="p-relative antes-depois-images-container">
                    <div class="p-absolute w-100 h-100">
                        <div class="p-relative w-100 h-100 d-flex">
                            <div class="bg-square"></div>
                            <div [ngStyle]="{backgroundImage: 'url(' + depois + ')'}" class="img"></div>
                        </div>
                    </div>
                </div>
            </section>

            <!----- PREVISAO ----->
            <section class="d-flex flex-column justify-content-center" id="proposta">
        <span class="title text-blue mt-100 mb-50">
          Se começar <span class="text-orange">hoje</span>, pode<br/>
          ter um sorriso novo dia <br>
          <span class="text-orange capitalize">{{this.dataFinal}}</span>
        </span>

                <!--        <ul class="mb-50">-->
                <!--          <li class="text-big text-blue mb-25" *ngFor="let prod of counts">-->
                <!--            <span>{{prod}}</span>-->
                <!--          </li>-->
                <!--        </ul>-->

                <table class="table-elem2">
                    <thead>
                    <th>Und.</th>
                    <th>Descrição</th>
                    <th>Dente</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let prod of finalProds">
                        <td style="padding-right: 70px">{{prod.count}}</td>
                        <td>{{prod.nome}}</td>
                        <td>{{prod.dentes}}</td>
                    </tr>
                    </tbody>
                </table>


                <div class="d-flex flex-column mb-50">
                    <div class="d-flex proposta-cards">
                        <div *ngIf="firstPrestBool" class="d-flex">
                            <div class="d-flex p-25 flex-column bg-white justify-content-center">
                                <p
                                        class="sub-title text-orange text-center pt-25"
                                        style="font-size: 32px; line-height: 36px"
                                >
                                    {{firstPrest}}€/Mês
                                </p>
                                <span class="text text-blue text-center text-bold mb-25">Durante 12 meses</span>
                                <div class="text text-blue text-center">Sem juros</div>
                            </div>
                        </div>

                        <div *ngIf="secondPrestBool" class="d-flex">
                            <div class="d-flex p-25 flex-column bg-white justify-content-center">
                                <p
                                        class="sub-title text-orange text-center pt-25"
                                        style="font-size: 32px; line-height: 36px"
                                >
                                    {{secondPrest}}€/Mês
                                </p>
                                <span class="text text-blue text-center text-bold mb-25">Durante 24 meses</span>
                                <div class="text text-blue text-center">Sem juros</div>
                            </div>
                        </div>

                        <div *ngIf="thirdPrestBool" class="d-flex">
                            <div class="d-flex p-25 flex-column bg-white justify-content-center">
                                <p
                                        class="sub-title text-orange text-center pt-25"
                                        style="font-size: 32px; line-height: 36px"
                                >
                                    {{thirdPrest}}€/Mês
                                </p>
                                <span class="text text-blue text-center text-bold mb-25">Durante 36 meses</span>
                                <div class="text text-blue text-center">Sem juros</div>
                            </div>
                        </div>

                        <div *ngIf="forthPrestBool" class="d-flex">
                            <div class="d-flex p-25 flex-column bg-white justify-content-center">
                                <p
                                        class="sub-title text-orange text-center pt-25"
                                        style="font-size: 32px; line-height: 36px"
                                >
                                    {{mensalidade != '' ? mensalidade : forthPrest}}€/Mês
                                </p>
                                <span class="text text-blue text-center text-bold mb-25">Durante 48 meses</span>
                                <div *ngIf="taeg != ''" class="text text-blue text-center">TAEG {{taeg}}%</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-50">
                        <div *ngIf="prontoPagamento">
                            <span class="text text-orange pagamento">Pronto pagamento</span>
                            <span class="text-blue pronto-pagamento">{{prestaPagamento}} €</span>
                            <span class="text-orange presta-pagamento">{{prontoPagamento}} €</span>
                        </div>
                        <div *ngIf="!prontoPagamento">
                            <span class="text-orange pagamento">Pronto pagamento</span>
                            <span class="text-orange presta-pagamento">{{prestaPagamento}} €</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-50 mb-50">
                        <mat-accordion class="flex-grow-1">
                            <!-- #docregion basic-panel -->
                            <!-- #docregion hide-toggle -->
                            <mat-expansion-panel hideToggle style="background-color: transparent; box-shadow: none">
                                <!-- #enddocregion hide-toggle -->
                                <mat-expansion-panel-header style="background-color: transparent;">
                                    <mat-panel-title class="d-flex justify-content-center">
                                        <span class="text-big text-orange text-uppercase">VER ORÇAMENTO DETALHADO</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul class="table-elem">
                                    <li class="pt-25 pb-25">
                                        <span class="text-uppercase">Tratamento</span>
                                        <span class="text-uppercase">Valor Liquido</span>
                                    </li>
                                    <li class="pt-50 pb-50" *ngFor="let prod of prods">
                                        <span class="bold-table">{{prod.nome}}</span>
                                        <span>{{prod.valor}} €</span>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </section>

            <!---- COMERCIAL ---->
            <section class="d-flex flex-column justify-content-end" id="comercial">
                <div class="d-flex flex-column" style="z-index: 1; margin-bottom: 250px;">
                    <div class="text-white comercial-maintext">Entre em Contacto</div>
                    <div class="d-flex flex-row w-100 text-white">
                        <img class="com-pic mr-25 border-radius-50" [src]="comercialFoto">
                        <div class="d-flex flex-column">
              <span class="com-hear">Comercial
                <p></p>
                <span class="com-name">{{comercialNome}}</span>
              </span>
                            <p></p>
                            <span class="com-hear">Telefone
                <p></p>
              <span class="com-name">{{comercialTelefone}}</span>
              </span>
                            <p></p>
                            <span class="com-hear">E-mail
                  <p></p>
                <span class="com-name">{{comercialEmail}}</span>
              </span>
                        </div>
                    </div>
                    <div class="p-absolute w-100 text-right pt-50 pb-50 copyright">
                        Copyright © 2020 · AngelSmile - Dental Institute <a
                            href="https://angelsmile.com.pt/politica-privacidade/" class="copyright2"> · Política de
                        Privacidade </a>
                    </div>
                </div>
                <div class="p-absolute w-100 h-100" style="overflow: hidden; top: 0; left: 0;">
                    <div class="d-block circulo-azul border-radius-50"></div>
                </div>
            </section>

            <!---- TERMOS ---->
            <section class="d-flex flex-column justify-content-center p-80" id="termos">
                <span class="text-big text-bold mt-50 mb-25">Termos e condições</span>
                <span class="text-termos">
          Este orçamento é válido por 15 dias.
            <br/>
            <br class="break"/>
          Os valores da TAEG apresentados na proposta do orçamento podem, a qualquer momento, variar de acordo com a Euribor. <br>
          O Departamento de Turismo da Saúde não tem protocolos com quaisquer seguros.  <br/>
            <br class="break"/>
          Este orçamento não inclui tratamentos adicionais que possam ser necessários ou que o paciente deseje no momento da consulta.<br/>
          Este é um orçamento provisório, confirmado após a realização da TAC ou CBCT por parte do paciente.
            Após análise da TAC (ou CBCT) e das fotografias (no smile mate) pelos médicos da AngelSmile, será realizado um orçamento final (e respetivo plano de tratamento) que poderá ser de valor diferente do provisório se se verificar a necessidade de incluir, retirar ou alterar tratamentos inicialmente previstos no orçamento provisório (que tinha apenas fotografias como base de análise). Nesta fase, o paciente pode recusar avançar com os procedimentos. Quando isso se verificar, a AngelSmile devolverá o valor que o paciente já desembolsou, deduzido do valor da TAC ou CBCT, de 200€ ou 400€ (dependendo se é inferior, superior ou de ambos). O exame será posteriormente entregue ao paciente.
            <p></p>
            <div *ngIf="isGaranteeNecessary">
            <span class="text-bold">Garantia: </span><br/>
            <br class="break"/>
            Todos os materiais usados na confeção deste dispositivo médico estão em conformidade com as normas europeias.
            O trabalho foi efetuado por profissionais legalmente habilitados para o efeito e tem garantia devidamente assinalada, de acordo com o tipo de trabalho e material com que foi executado. <br/>
            <br class="break"/>
            A manutenção desta garantia depende de uma periodicidade de consultas de revisão, que têm como objetivo manter ideais as condições de saúde, função, estética e higiene conseguidas com o tratamento efetuado.
            O custo das revisões não está incluído em nenhum orçamento (seja provisório ou final). As viagens, ou qualquer outro custo relacionado com as mesmas, não estão incluídas em nenhum orçamento (seja provisório ou final).<br/>
            <br class="break"/>
            É necessário realizar a primeira revisão 3 meses depois da realização do tratamento. Nesta primeira revisão ser-lhe-à entregue, gratuitamente, uma goteira de miorrelaxamento noturno cujo uso é de extrema importância para a proteção do seu sorriso, tanto na limitação do desgaste dentário sofrido durante a noite, como em impedir que determinadas forças aí executadas danifiquem a estabilidade dos implantes, e assim a viabilidade e durabilidade de todo o tratamento. Assim sendo, a manutenção desta garantia depende da utilização diária deste dispositivo.
            A goteira tem uma durabilidade variável que dependendo do paciente, pode ir de 6 meses a 2 anos.
            O custo da substituição desta goteira não está incluído em nenhum orçamento (seja provisório ou final). As seguintes consultas de revisão serão a cada 3, 4 ou 6 meses, de acordo com o planificado pelo Médico Dentista responsável.
            A AngelSmile reserva o direito de alterar a qualquer momento a periodicidade das consultas de revisão, sempre que se apresente importante e necessária esta alteração.<br/>
            <br class="break"/>
            A garantia desta reabilitação oral será acionada quando a estrutura apresente uma fratura ou danos relacionados com a confeção da mesma, sendo que não há lugar a reembolso, mas sim à resolução do dano.<br/>
            <br class="break"/>
            Para poder acionar a garantia é obrigatória a apresentação da goteira de miorrelaxamento para poder aferir a sua utilização. Caso o seu tratamento tenha menos de 3 meses e ainda não possua goteira de miorrelaxamento, pode acionar automaticamente a garantia. A garantia de implantes e a garantia de trabalhos protéticos são independentes.
            A garantia de implantes incide apenas sobre o(s) implante(s). A garantia de trabalhos protéticos incide apenas sobre os mesmos trabalhos protéticos. A garantia nunca incide sobre viagens ou qualquer outro custo ou despesa de deslocação, sendo este valor sempre suportado pelo paciente.<br/>
            <br class="break"/>
            O período de garantia inicia na data de emissão do Certificado de Reabilitação.
            <br/>
            <br class="break"/>
            A AngelSmile reserva o direito de não acionar a garantia em reabilitações que apresentem má higiene ou conduta imprópria de manutenção. Assim, de acordo com o referido, os tratamentos na AngelSmile têm garantia de 2 anos, pelo que qualquer prótese fixa será reparada ou substituída quando um efeito de fabrico impedir a sua correta função oral. <br/>
            <br class="break"/>
            <span class="italico"> Não estão incluídos na garantia os seguintes casos: </span> <br/>
            <br class="break"/>
            <ul>
            <li> As próteses que de uma forma específica foram danificadas, modificadas ou manipuladas total ou parcialmente por outra identidade que não a AngelSmile, a menos que expressamente autorizado por escrito pela mesma identidade. </li>
           <br/>
            <br class="break"/>
            <li> As partes vitais (massa óssea, periodonto, gengivas, etc.) nas quais as próteses fixas são cimentadas e/ou aparafusadas; </li>
            <br/>
            <br class="break"/>
                <li> Os serviços dentários que não sejam aqueles necessários para a reparação ou substituição de uma prótese fixa; </li>
            <br/>
            <br class="break"/><li> As próteses fixas que sofreram defeitos, quebras ou deformações devido a acidentes de qualquer natureza ou que tenham sido utilizadas incorretamente;</li>
            <br/>
            <br class="break"/><li> As próteses fixas que não tenham uma manutenção/higienização na AngelSmile com periodicidade de 3, 4 ou 6 meses (dependendo da situação oral e da avaliação do médico dentista responsável) </li>
            <br/>
            <br class="break"/><li> Viagens, estadias ou qualquer outra despesa de deslocação associada.</li>
            <br/>
            <br class="break"/><li> As próteses fixas e implantes com danos provocados por mau uso ou negligência por parte do paciente.</li>
             <br/>
            <br class="break"/><li> Todas as próteses com mais de 3 meses, apenas quando não for apresentada a goteira, ou quando esta não tenha sido manifestamente usada.</li>
        </ul>
                </div>
        </span>
            </section>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
