/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 0 100px;
}

.bg-img {
    background-size: cover;
    background-position: center;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-white-main {
    background-color: #FFFFFF;
}

.bg-white-main:hover {
    background-color: #de501f;
    color: #FFFFFF;
}

.bg-orange {
    background-color: #de501f;
}

.bg-grey {
    background-color: #F0F0F0;
}


/** TEXT **/
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.text-big {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-light {
    font-weight: lighter;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-blue {
    color: #08586e;
}

.text-orange {
    color: #de501f;
}

.text-white {
    color: #FFFFFF;
}

/** POSITION **/
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

/** DISPLAY **/
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

/** FLEXBOX **/
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

/** WIDTH **/
.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

/** HEIGHT **/
.h-100 {
    height: 100%;
}

.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-75 {
    height: 75%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-40 {
    height: 40%;
}

.h-30 {
    height: 30%;
}

.h-25 {
    height: 25%;
}

.h-20 {
    height: 20%;
}

.h-10 {
    height: 10%;
}

/** MARGIN **/
.m-150 {
    margin: 150px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-150 {
    margin-bottom: 150px;
}

.ml-150 {
    margin-left: 150px;
}

.mr-150 {
    margin-right: 150px;
}

.m-100 {
    margin: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mr-100 {
    margin-right: 100px;
}

.m-50 {
    margin: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.ml-50 {
    margin-left: 50px;
}

.mr-50 {
    margin-right: 50px;
}

.m-50 {
    margin: 50px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-25 {
    margin-left: 25px;
}

.mr-25 {
    margin-right: 25px;
}

/** PADDING **/
.p-150 {
    padding: 150px;
}

.p-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pl-150 {
    padding-left: 150px;
}

.pr-150 {
    padding-right: 150px;
}

.p-100 {
    padding: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.pr-100 {
    padding-right: 100px;
}

.p-80 {
    padding: 80px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.p-25 {
    padding: 25px;
}

.p-80 {
    padding: 50px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px;
}

/** BORDER RADIUS **/
.border-radius-50 {
    border-radius: 50%;
}

.border-radius-30 {
    border-radius: 30%;
}

.border-radius-25 {
    border-radius: 25%;
}

.border-radius-20 {
    border-radius: 20%;
}

.border-radius-15 {
    border-radius: 15%;
}

.border-radius-10 {
    border-radius: 10%;
}
